@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h2, h3 {
    font-family: Raleway, sans-serif;
}

/* headings and logo */

#my-header {
    background-color: #0e86d4;
}

h1 {
    font-family: Great Vibes, sans-serif;
    color: #fafafa;
    letter-spacing: 4px; 
    background-color: #0e86d4;
    height: 70px;
}
    
#logo {
    margin-left: 30px; 
    margin-top: 5px;
    float: left; 
    font-size: 280%;
    color: #fafafa;
    background-color: #0e86d4;
}

/* navigation links */

#menu {
    font-family: Roboto, sans-serif;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    display: flex;
    align-items: center;
    justify-content: right;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #fafafa;
    padding: 20px;
    font-family: Raleway, sans-serif;
}

/* plate image */

#plate-outer {
    height:600px;
    width:100%;
    overflow: hidden;

    position: relative;
}

#plate-image {
    height:600px;
    width:100%;
    background: url('../images/FOOD\ PLATE.jpg') no-repeat center center;
}

#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.active {
    border-bottom: 1px solid #fafafa;
}
    
#announcements {
    height: 300px;
    margin: 20px 0;

}
#announcements-box {
    margin: auto;
    padding: 20px; 
    border: 2px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
    width: 66%;
}

.info-box {
    
    margin: 0 auto;
    padding: 20px; 
    border: 1px solid transparent; 
    border-color: black;
    box-sizing: border-box; 
    width: 80%;
}

#opening-hours{
    margin-top: 100px;
    height: 200px;
}

#hours-box {
    margin: 0 auto;
    padding: 10px; 
    border: 2px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
    width: 66%;
}

#week-days {
    margin-left: 30px;
    padding-top: 10px;
    width: 45%;
    float: left;
}

#weekend {
    padding-top: 10px;
    width: 45%;
    float: right;
}

.week {
    font-size: 200%;
    font-weight: 900;
}

/* footer */

#my-footer {
    display: flex;
    align-items: baseline;
    justify-content: right;
    font-family: Raleway, sans-serif;
    background-color: #0e86d4;
    height: 150px;
}

#phone-email {
    margin-left: 30px;
    width: 20%;
    color: #fafafa;
}

#phone-email p {
    margin: 0;
    padding: 0;
    border: 0;
    height: 30px;
}

#address {
    margin: 30px auto;
    width: 40%; 
    text-align: center; 
    color: #fafafa; 
}

#address a {
    margin-bottom: 20px;
    padding: 0;
    border: 0;
    height: 20px;
    color: #fafafa; 
    text-decoration: none;
}

#phone-email, #address, #social {
    line-height: 75px;
}

#social {
    margin-right: 30px;
    width: 20%;
}

#social ul {
    display: flex;
    align-items: baseline;
    justify-content: right;
}

#social li {
    list-style-type: none;
}

#social a {
    margin: 10px 20px;
    padding: 30px 0;
    border: 30px 0;
    text-decoration: none;
    text-align: center;
    color: #fafafa;
    font-family: Raleway, sans-serif;
}

.social-icon {
    font-size: 150%;
}

/* Restaurant Menu */

hr {
    border-bottom: 1px solid #0e86d4;
    border-top: none;
    width: 100%;
}

#restaurant-menu-header {
    margin: 40px 0;
    padding: 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 20px;
}

#menu-photos {
    margin:5px;
    padding-top: 10px;
    clear: both;
    display: grid;
    column-gap: 10px;;
}
    
.menu-image-apetizers {
    margin-left: 35px;
    grid-column: 1;
    width: 33%;
    max-width: 450px;
}

.menu-image-gelato {
    grid-column: 2;
    width: 33%;
    max-width: 450px;
}

.menu-image-wine {
    grid-column: 3;
    width: 33%;
    max-width: 450px;
}

#menu-list {
    display: grid;
    column-gap: 30px;
}

.food-menu {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 12;
}
    
.drinks-menu {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12;
}

.food-box {
    margin-right: 15px;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 20px; 
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
    display: grid;
    gap: 10px;
}

.food-box h3, .food-box p, #drinks-box h3, #drinks-box p {
    margin: 4px 0;
    padding: 2px;
}

.cuisine-type {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.appetizers {
    grid-column: 1;
    grid-row: 1;
}

.main-courses {
    grid-column: 1;
    grid-row: 2;
}

.salads {
    grid-column: 2;
    grid-row: 1;
}

.desserts {
    grid-column: 2;
    grid-row: 2;
}

#drinks-box {
    margin-right: 35px;
    padding: 20px 15px 30px 35px; 
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
    display: grid;
    gap: 10px;
}

.contact-map {
    margin: 40px 20px;;
    display: grid;
}

.contact {
    width: 45%;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.map {
    margin-top: 10px;
    width: 45%;
    grid-column: 5 / 9;
    grid-row: 1 / 4;
}

.user-details-input {
    margin: 5px 0;
    padding: 10px 90px 10px 10px;
    border: 1px solid transparent;
    border-color: black;
    width: 80%;
}

.contact-box {
    margin-right: 15px;
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 20px; 
    border: 2px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
}

.message-box {
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 20px; 
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box; 
}

.message-box legend {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.submit-input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-color: black;
}

.place {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.place-box {
    margin: 10px 15px 10px 60px;
    padding: 35px 20px 40px 20px; 
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box;
}

.place-box p, .chef-box p, .guests-box p {
    line-height: 30px;
}

.place-photo {
    margin-top: 20px;
    margin-right: 60px;
}

.chef {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.chef-photo {
    margin-top: 20px;
    margin-left: 60px;
}

.chef-box {
    margin: 10px 60px 10px 15px;
    padding: 98px 20px;
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box;
}

.guests {
    margin-top: 10px;
    margin-bottom: 20px;
}

.guests-box {
    margin: 10px 60px;
    padding: 20px;
    border: 1px solid transparent; 
    border-color: black; 
    box-sizing: border-box;
}

