@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h2 {
    font-family: Raleway;
}

/* headings and logo */

header {
    background-color: #0e86d4;   
}

#logo h1,h2 {
    font-family: Great Vibes, sans-serif;
    color: #fafafa;
    letter-spacing: 4px; 
}

#logo {
    float: left; 
    font-size: 100%;
    margin-left: 10px; 
    margin-top: 5px;
}

/* navigation links */

#menu {
    font-family: Roboto, sans-serif;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}