@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway&family=Roboto:wght@300&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

h2 {
    font-family: Raleway;
}

/* headings and logo */

header {
    background-color: #0e86d4;   
}

#logo h1 {
    font-family: Great Vibes, sans-serif;
    color: #fafafa;
    letter-spacing: 4px; 
}

#logo h2{
    font-family: Great Vibes, sans-serif;
    color: #fafafa;
    letter-spacing: 4px;    
}

#logo {
    float: left;  
}
